#hero {
    height: 70vh;
    background-image: url("https://images.unsplash.com/photo-1635424239131-32dc44986b56?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: .5rem;
    box-shadow: 10px 5px 5px black;
}

#hero-text-container {
    padding-top: 10rem;
}