.row-right-image-container {
    background-image: url("https://images.unsplash.com/photo-1585637071663-799845ad5212?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: .5rem;
    box-shadow: 10px 5px 5px black;
    height: 35rem;
}

.row-left-image-container {
    background-image: url("https://media.licdn.com/dms/image/C5603AQGSfGaRmnilXw/profile-displayphoto-shrink_800_800/0/1636484224406?e=1690416000&v=beta&t=tO_Mq26qURxwElmDTu1oJS1fJHS9Rfw7BjUs7nTxFX8");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: .5rem;
    box-shadow: 10px 5px 5px black;
    height: 35rem;
}

.section-row {
    min-height: 35rem;
}

.row-text-container {
    width: 70%;
}

.row-text-right-container {
    margin-right: inherit;
}

.row-text-left-container {
    margin-left: inherit;
}